#container{
    margin: 92px 62px;
    margin-bottom: 0px;
    padding: 13px 10px;
    padding-bottom: 0px;
    border-radius: 150px;
    width: 41%;
    border: 2px solid white;
}
.ask{
    position: relative;
    right:130px;
    top:120px;
    float:right;
}
#container p{
   font-size:25px;
   color:white;
   text-align:center;
}
#container form div{
    padding:5px 10px;
    border-style:none;
    outline:none;
    font-size:27px;
    position:relative;
    right:10px;
    color:white;
}
#container form input{
    border-radius:20px;
    padding:5px 10px;
    border-style:none;
    outline:none;
    position:relative;
    right:-11px;
    font-size:20px;
}
#join button{
    font-size: 30px;
    font-weight: bold;
    color:black;
    border:none;
    background-color:#ec3f6a;
    position:relative;
    left:20px;
    top:-20;
    margin-bottom:47px;
    border-radius: 8px;
}
#join button:hover{
   background-color:#3fcac8;
}
textarea{
    font-size: 20px;
    position:relative;
    left:10px;
    border-radius: 20px;
    border:none;
    outline:none;
    margin-top: 10px;
}

body{
    background-color:black;
    margin:0;
    text-align:center;
    font-family:"Ubuntu";
    height:300px;
}
#bp1{
    color:black;
    font-weight: bold;
    position:relative;
    top:10px;
}
hr{
    border-style:none;
    border-top-style:dotted;
    border-color: white;
    border-width:5px;
    width:5%;
}
#p1{
    color:#ec3f6a;
    font-size:30px;
    font-family: 'Caveat', cursive;

}
.footer-link {
    color:black;
    margin:0px 20px;
    margin-top:0px;
    position:relative;
    top:16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
a:hover {
    color:#ec3f6a;
}
.btn{
    color:white;
    font-weight: bold;
    text-decoration: none;
    border:2px solid white;
    border-radius: 10px;
    padding: 5px;
    position:relative;
    top:40px;
}
.btn:hover{
    background-color: white;
    color:black;
}
#i1,#i2,#i3{
    position:relative;
    top:13px;
    left:17px;
}
.bottom-container{
    background-color:#3fcac8 ;
    position: relative;
    top:35px;
    height: 110px;
}
.logo div{
    text-align:center;
    font-size:18px;
    color:#ec3f6a;
    float:left;
    position:relative;
    top: 40px;
    font-family: 'Caveat', cursive;
    left: -46px;
    font-weight: bold;
} 
.logo img{
    float:left;
    position: relative;
    left:50px;
    bottom:30px;
    width:5%;
}
.navbar{
    top:10px;
    display:block;
    width:100%;
    border:none;
    margin:40px auto;
    position: relative;
    right:40px;
}
.navbar li{
    display:inline-block;
    margin:0px 10px;
    font-size:35px;
}
.navbar li a{
   color:#ec3f6a;
   text-decoration: none;
}
.navbar li a:hover,.navbar li a.active,button:hover{
   text-decoration:underline;
   color:#3fcac8;
}
#mh1{
    color:#ec3f6a;
    text-decoration: underline;
    position:relative;
    top:70px;
    right:350px;
    font-size: 45px;
}
#mp1{
    color:#3fcac8;
    text-align:left;
    width:70%;
    position:relative;
    top: 72px;
    left: 104px;
    margin-bottom: 215px;
    font-size: 30px;
}
