
.top{
    background-color:black;
    height:575px;
    width:100%;
    margin:0px auto;
    position:relative;
    padding-top:80px;
}
body{
    background-color:black;
    margin:0;
    text-align:center;
    font-family:"Ubuntu";
    height:100px;
}
#bp1{
    color:black;
    font-weight: bold;
    position:relative;
    top:10px;
}

hr{
    border-style:none;
    border-top-style:dotted;
    border-color: white;
    border-width:5px;
    width:8%;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
}
.footer-link {
    color:black;
    margin:0px 20px;
    margin-top:200px;
    position:relative;
    top:15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
a:hover {
    color:#ec3f6a;
}
.btn{
    color:white;
    font-weight: bold;
    text-decoration: none;
    border:2px solid white;
    border-radius: 10px;
    padding: 5px;
    position:relative;
    top:40px;
}
.btn:hover{
    background-color: white;
    color:black;
}
#i1,#i2,#i3{
    position:relative;
    top:13px;
    left:17px;
    ;
}
.bottom-container{
    float:bottom;
    background-color:#3fcac8 ;
    position: relative;
    top:95px;
    height: 110px;
}
.logo div{
    text-align:center;
    font-size:18px;
    color:#ec3f6a;
    float:left;
    position:relative;
    top: 40px;
    font-family: 'Caveat', cursive;
    left: -46px;
    font-weight: bold;
} 
.logo img{
    float:left;
    position: relative;
    left:50px;
    bottom:30px;
    width:5%;
}
.navbar{
    top:10px;
    display:block;
    width:100%;
    border:none;
    margin:40px auto;
    position: relative;
    right:40px;
}
.navbar li{
    display:inline-block;
    margin:0px 20px;
    font-size:35px;
}
.navbar li a{
   color:#ec3f6a;
   text-decoration: none;
}
.navbar li a:hover,.navbar li a.active,button:hover{
   text-decoration:underline;
   color:#3fcac8;
}
#sp1,#sp2,#sp3{
    color:#3fcac8;
    position: relative;
    left:0px;
    top:20px;
    width:40%;
    margin:auto;
    font-size: 30px;
}

#sh2,#sh3,#sh4{
    color:#ec3f6a;  
    position: relative;
    left:0px;
    top:20px;
    width:40%;
    margin:auto;
    font-size: 50px;
}

.skill1{
    width:20%; 
    position: relative;
    left:0px;
    top:40px;
    margin-bottom:50px;
}
.skill2{
    width:20%; 
    position: relative;
    left:0px;
    top:40px;
    margin-bottom:50px;
}
.skill3{
    width:20%; 
    position: relative;
    left:0px;
    top:40px;
    margin-bottom:50px;
}

